{
    "presets": ["babel-preset-expo"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".js"],
                "alias": {
                    "espy": "./src"
                }
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": ["transform-react-jsx-source"]
        }
    }
}
